<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin-left: auto">
    <div
            style="background: #03a9f48c; padding: 1rem; width: 500px; height: 200px; border: white solid 1px; border-radius: 10px;"
    >
        <h1 style="width: 100%; text-align: center; color: white">
            Only one step missing
        </h1>
        <p style="width: 100%; text-align: center; margin-bottom: 3rem;">
            Before continuing we need to confirm your email address
        </p>
        <a
                style="margin-left: 12rem; text-decoration: none; color: white; border: white solid 1px; padding: 1rem; background: #00bcd473; border-radius: 10px;"
                href="http://localhost:3000/signup/{{ user.token }}">Confirm email
        </a>
    </div>
</body>
</html>