<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Demystifying Email Design</title>
</head>
<body style="margin: 0; padding: 0;">
    <table align="center"  cellspacing="0" width="600">
        <tr>
            <td align="center" style="padding: 2rem 0; font-size: 2rem">
                Trouble signing in!
            </td>
        </tr>
        <tr>
            <td style="padding: 0 1.5rem; color: #797979; font-size: 1.1rem">
                Resetting your password is easy, Just press the button
                below and follow the instruction. We'll have you and running in no time.
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 3rem 0 3rem 0; border-bottom: 1px solid #ccbebead">
                <a
                    style="text-decoration: none; color: white; border: white solid 1px; padding: 1rem; background: #673ab7;"
                    href="{{ token }}"
                >
                    Reset Password
                 </a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 15px 0; color: #797979">
                Andrés Romero Vergara
            </td>
        </tr>
    </table>
</body>
</html>